<div id="waline"></div>
<script src='<%- theme.cdn.waline.js %>'></script>
<script>
    Waline({
        el: '#waline',
        serverURL: 'https://waline-vercel-comment-server-15b34tgrr-azao-saya.vercel.app/',
    });
</script>